/* reset */
*{box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  }
  
  #root,.App,html{
    height: 100%;
    width: 100%;
    background-color:#ffffff;
    text-align: center;
    font-size: 16px;
  }

/* Search component ----------------------------------------------- */
.search-container
{
  width: 80%;
  margin: 2rem auto;
  position: relative;
  display: flex;
  align-items: center;
}
.search-box
{
  padding-left:1rem;
  padding-right: 50px ;
  height: 3.5rem;
  width: 100%;
  background-color: #263238;
  color:white;
  font-size: 1.2rem;
  border:none;
  border-radius: 50px;
}
.search-box:focus
{
background-color: #263238;
}
.search-icon{
  margin-right: 10px;
  height: 70%;
  position: absolute;
  right: 0;
}


/* main component--------------------------------------------------------- */
.main{
  display: flex;
  flex-direction: column;
  width:100%;

}
.first-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;

}
.condition-icon
{
  width: 40%;
}

.condition-temper
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right:2rem
}

.condition-temper>h1
{
  color:#E8505B;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
}
.condition-temper>h2
{
  margin-top: -1rem;
  padding-left: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

}
.second-section{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.city-name
{
  font-weight: 400;
}
.location{
  display: flex;
  width: 50%;
  padding-left: 4rem;
  flex-direction: column;
  align-items: flex-start;
}

.humidity,.wind
{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5rem
}
.humidity-icon,.wind-icon
{
width: 15%;
}

.wind-data>p,.humidity-data>p{
  font-weight: 300;
  font-size: 0.9rem;
}
.wind-data>h3,.humidity-data>h3{
  font-weight: 450;
  font-size: 0.9rem;
}
