*{box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  }
  
  #root,.App,html{
    height: 100%;
    width: 100%;
    background-color:#ffffff;
    text-align: center;
    font-size: 16px;
  }

.search-container
{
  width: 70%;
  margin: 2rem auto;
  position: relative;
  display: flex;
  align-items: center;
}
.search-box
{
  padding-left:1rem;
  padding-right: 50px ;
  height: 3.5rem;
  width: 100%;
  background-color: #263238;
  color:white;
  font-size: 1.2rem;
  border:none;
  border-radius: 50px;

}
.search-icon{
  margin-right: 10px;
  height: 70%;
  position: absolute;
  right: 0;
}