/* reset */
*{box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  }
  
  #root,.App,html,body{
    height: 100%;
    width: 100%;
    background-color:#ffffff;
    text-align: center;
    font-size: 16px;
  }

/* Search component ----------------------------------------------- */
.search-container
{
  width: 80%;
  margin: 2rem auto;
  position: relative;
  display: flex;
  align-items: center;
}
.search-box
{
  padding-left:1rem;
  padding-right: 50px ;
  height: 3.5rem;
  width: 100%;
  background-color: #263238;
  color:white;
  font-size: 1.2rem;
  border:none;
  border-radius: 50px;
}
.search-box:focus
{
background-color: #263238;
}
.search-icon{
  margin-right: 10px;
  height: 70%;
  position: absolute;
  right: 0;
}


/* main component--------------------------------------------------------- */
.main{
  display: flex;
  flex-direction: column;
  width:90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.051);
  border-radius: 20px;
  padding: 0.7rem 0.7rem;
}
.first-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

}
.condition-icon
{
  width: 40%;
}

.condition-temper
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right:2rem;
}

.condition-temper>h1
{
  color:#E8505B;
  font-size: 5rem;
}
.condition-temper>h2
{
  margin-top: -1rem;
  font-size: 1.5rem;
  font-weight: 400; 

}
.second-section{
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.city-name
{
  font-size: 1.5rem;
  font-weight: 400;
}
.location{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}
.date
{
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.humidity,.wind
{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.humidity-icon,.wind-icon
{
width: 25%;
}

.wind-data>p,.humidity-data>p{
  font-weight: 300;
  font-size: 0.9rem;
}
.wind-data>h3,.humidity-data>h3{
  font-size: 1rem;
  font-weight: 400;
}
.details
{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:1rem
}
/* future component ----------------------------------------------- */
.future
{
  margin-top: 2rem;
  width: 100vw;
  height: 100vh;
  background-color: cyan;
}
.future-item{
  width: 10%;
  height: 10%;
  background-color: #E8505B;
}